.wrap {
  margin: 3rem 0;
}

.inner {
  max-width: 48rem;
}

.subheading {
  display: block;
  margin: 1rem 0 2rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.7;
}

.content {
  margin-top: 1rem;
}
